body {
    background-color: black;
    color: white;

}
#main-header {
display: flex;
justify-content: space-between;
background-color: black;
border: 1px solid white;


}

#main-header ul {
    display: flex;  
    justify-content: space-around;
    text-decoration-line: none;
    align-content: space-between;
    
    
}

#main-header ul li {
    list-style-type: none;
    margin: 10px;
    padding: 5px
   
    
    
}

#main-header ul li a {
    text-decoration-line: none;
    color: white;
}
.backgroundtheebg {
    background-image: url(../img/thee_bg.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  
}
#content-onze-missie{
    display: flex;
    justify-content: center;
    text-align: center;
}



#thee-van-de-maand {
display: flex;
justify-content: space-around;

}

#thee-van-de-maand .item1 {
    
    width: 20px;
    height: 5px;
    padding: 50px;
    margin: 10px;
}

#thee-van-de-maand .item2 {
    width: 20px;
    height: 5px;
}

#thee-van-de-maand .item3 {
    width: 20px;
    height: 5px;
}

#thee-van-de-maand .item4 {
    width: 20px;
    height: 5px;
}


#thee-van-de-maand .item5 {
    width: 20px;
    height: 5px;
}

#thee-van-de-maand .item6 {
    width: 50px;
    height: 5px;
}

.Background2 {
    background-image: url(../img/locaties_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}



      



