
body {

    margin-left: 500px;
    margin-top: 90px;
    background-color: rgb(153, 205, 50);
}

h1 {
    margin-left: 20px;
}
.Calculator {
    border-width: 0.5px;
    border-color: black;
    border-style: solid;
    width: 280px;
    height: 450px;
    margin: 50px;
    border-radius: 10px 10px 0px 0px;
    background-color: black;
    

}

.display {
    width: 280px;
    height: 90px;
    border-width: 0.5px;
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 0px 0px;
    border-top: hidden;
    border-left: hidden;
    font-size: 50px;
    text-align: right;
    background-color: rgb(102, 102, 102);
    color: white;
    
    
}

 
.numbers {
    
    border-radius: 50px;
    height: 360px;

}

.buttnum {
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    border-width: 0.5px;
    width: 50px;
    height: 50px;
   font-size: 20px;
   text-align: center;
    margin: 10px;

}


.firstrow {
    display: flex;

  
}

.fr {
    background-color: rgb(231, 227, 227);
    color: black;
}

.mr {
    background-color: rgb(155, 151, 151);
}


.secondrow {
    display: flex;
    text-align: center;

   
}

.thirdrow {
    display: flex;
    text-align: center;
   
}

.fourthrow {
    display: flex;
    text-align: center;
    
}

.buttnum0 {
    width: 120px;
    height: 50px;
    border-radius: 50px;
    border-width: 0.5px;
    margin: 10px;
    font-size: 20px;
    

}

.buttnumpunt {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-width: 0.5px;
    margin: 10px;
    font-size: 20px;
   
}

.zero {
    display: flex;
    align-content: space-around;

}

button {
   
    padding: 12px;
    color: white;
    
}

.buttRight {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-width: 0.5px;
    margin: 10px;
    background-color:  rgb(224, 150, 13);
    font-size: 20px;
    color: white;
}


