
.topnav {
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
top: 2px;
margin-top: 0;
}

html {
    width: 500px;
}

.functie {

    position: absolute;
    top: 80px;
}
.naam {
    position: absolute;
    top: 100px;

/*     
}
.profiel {
position: relative;
top: -500px; */

}
h1 {
    font-family: 'Abel', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80px;
    color:#444440;
    position: relative;
    bottom: -50px;
    right: -500px;
    
}

h2 {
    font-family: 'Abel', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    color:#38b6ff;
    position: relative;
    bottom: -200px;
    right: -700px;

}

p {
    font-family: 'Abel', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}

li {
    font-family: 'Abel', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.about {
    font-family: 'Abel', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color:#ff914d;
    position: relative;
    bottom: -30px;
    right: -1px;
}

.school {
    font-family: 'Abel', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color:#ff914d;
    position: relative;
    bottom: -30px;
    left: 100px;
}

.profoto {
/* border-radius: 50%; */
width: 350px;
height: 250px;
position: absolute;
top: 140px;
left: 20px;
z-index: 1;
opacity: 0.1;

}

.banner {
    width: 120%;
    height: 1100px;
    position: absolute;
    /* z-index: 1; */
    opacity: 0.5;
   
}



.sideBanner {
    height: 150%;
    width: 350px;
    position: absolute;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: #242424;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .topnav {
    text-align: center;
    background-color: #242424;
    position: absolute;
    z-index: 1;
  
    
  }

  .active {
      color: white;
      
  }

  .container {
    width: 300px;
    background-color: #ddd;
    position: relative;
    top: 200px;
    z-index: 1;
  }
  
  .skills {
    text-align: right;
    padding-top: 1px;
    padding-bottom: 10px;
    color: black;
    font-size: 10px;
  }
  
  .html {width: 90%; height: 1px; margin-left: 10px; background-color: #ff914d;}
  .css {width: 80%; height: 1px; margin-left: 10px; background-color: #ff914d;}
  .js {width: 75%; height: 1px; margin-left: 10px; background-color: #ff914d;}
  .scrum {width: 95%; height: 1px; margin-left: 10px; background-color: #ff914d;}
  .java {width: 80%; height: 1px; margin-left: 10px; background-color: #ff914d;}

 

  .box-skills {
    width: 300px;  
    height: 500px;
    position: relative;
    top: 300px;
    text-align: left;
    z-index: 1;
    color: white;
    margin-left: 10px;
  
  }

  .test {
      
      position: relative;
      top: -200px;
      left: 450px;
      width: 800px;
      height: 400px;

    
  }

  .footer {
      width: 1400px;
      height: 100px;
      background-color: #242424;
      text-align: center;
      position: relative;
      bottom: -50px;
      display: flex;
      justify-content: space-around;
      z-index: 1;
      padding: 40px;
    
    
  }

 
.foot {
color: white;
}

.icon-sklill-html { display: flex; margin: 10px;}
.icon-sklill-css { display: flex; margin: 10px;}
.icon-sklill-js { display: flex; margin: 10px;}
.icon-sklill-java { display: flex; margin: 10px;}
.icon-sklill-scrum { display: flex; margin: 10px;}






  