<!DOCTYPE HTML>
<html xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Boek1</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>

</head>
<body>
<div class="container text-center">
<h3>Omschrijving boek 1</h3>
</div>
<!--<form th:action="@{/}"></form>-->
<br>




<!--<div class="boek1">-->
<!--    <a href="default.asp"><img src="https://media.s-bol.com/Y59R00ppq1G0/550x800.jpg" alt="Burn" width="200" height="300"></a>-->
<!--</div>-->

</body>
</html>