<!DOCTYPE html>

<html xmlns:th=”http://www.thymeleaf.org”>


<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <style>

        .imgProduct {
            height: 200px;
            width: 300px
        }

    </style>
</head>
<body>
<div class="container text-center">
    <h1>Welcome to Boekenshop VB</h1>
</div>
<br>


<!--Products -->
<section>
    <div class="container">
        <div class="container d-flex align-content-between">
            <div class="container mt-2 row justify-content-between">
                <div class="container d-flex flex-column mx-3 col-4">
                    <a href= img class="imgProduct"

                    </a>
                    <h5 class="productName" >Titel boek</h5>
                    <h5 class="productPrice" >Prijs</h5>
                </div>
            </div>
        </div>
    </div>

</section>


<table class="table table-borderless">
    <thead>
    <tr>
        <th scope="col">Burn after writing</th>
        <th scope="col">Master your mindset</th>
        <th scope="col">Denk als een monnik</th>
        <th scope="col">De edele kunst van not giving a F.</th>
    </tr>
    </thead>
    <tbody>
    <tr>

        <td>foto</td>
        <td>Foto</td>
        <td>Foto</td>
        <td>Foto</td>
    </tr>
    <tr>
        <td>Details</td>
        <td>Details</td>
        <td>Details</td>
        <td>Details</td>
    </tr>
    <tr>
        <td>Prijs</td>
        <td>Prijs</td>
        <td>Prijs</td>
        <td>Prijs</td>
    </tr>
    </tbody>
</table>


</body>
</html>